body{
    background: linear-gradient(to bottom left,#ecd0d4,#bbcce6);
}

.record-container {
    /* text-align: center; */
    /* max-width: 50%; */

    /* display:flex; */
    /* margin-bottom: auto; */
    
} 

h3 {
    text-align: center;
    align-items: center;
    color: rgba(252, 232, 232, 0.767);
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: wheat; */
    font-weight: 300;
    
}

.title {
    background: linear-gradient(to bottom left,#58296b65,#4055775d);
    padding: 10px;
    border-radius: 10px;
    text-shadow: 2px 2px 3px #af66d1;
}

.first-col {
    display:flex;
    justify-content: space-around;
    padding-top: 25px;
    
}

.record-col {
    display:flex;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

@media (max-width: 535px) {
    .record-col {
        justify-content: flex-start;
    }
  }

.record-row {
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    min-height: 50px;
    color:rgb(250, 245, 217);
    /* background-color: rgba(100, 95, 105, 0.479); */
    background: linear-gradient(to bottom left,#865e96a6,#7b96c0b0);
    margin-top:15px;
    margin-right:2px;
    border-radius: 2px;
    font-weight: 300;
    
}
.first1{
    margin-left: auto;
}
.last{
    margin-right: auto !important;
}
    

.template {
    display:flex;
    /* justify-content: center; */
    
}

.template-row {
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    min-height: 50px;
    max-width:140px;
    color:rgb(80, 78, 71);
    background-color: rgba(230, 225, 218, 0.685);
    margin-right:2px;
    margin-bottom: 2px;
    border-radius: 1px;
    font-weight: 300;
    color:rgb(99, 96, 96);
    
}

.record-survey-row {
    min-width: 500px;
    max-width: 500px;
    margin-right:2px;
    flex-direction: column;
    
}

.email{
    min-width: 220px;
    max-width: 220px;
}

.record{
    text-align: left;
}

.gender{
    min-width: 50px;
}

.age{
    min-width:90px;
}

.ans{
    background-color: rgb(230, 221, 233);
    padding: 4px 4px 4px 4px;
    margin-left: 15px;
    border-radius: 10px;
    border: 1px solid rgba(145, 135, 0, 0.315);
}

.btn-info{
    background-color: rgba(92, 149, 163, 0.712);
    border-color: #2d768198;
}

.form-control{
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

.btn{
    font-weight: 300;
}