/* body */
body {
    font-family: 'Heebo', sans-serif;
    padding-right: 0 !important;
    background-image: url("https://images.pexels.com/photos/3987020/pexels-photo-3987020.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: 36.5%;
    background-repeat: no-repeat;
    background-position-x: left; 
    background-position: 0 auto;
    margin: 0;
    line-height: 2;
    transition: 0.1s;
    }

@media screen and (max-width: 700px){
    body{
      background-image: url("https://images.pexels.com/photos/3987020/pexels-photo-3987020.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
      background-size: 180%;
    }
  }  

h1,h2,h6{
    text-align: center;
    font-weight: bold;
    margin: 38px auto;
    color: #000;
}

@media screen and (max-width: 700px){
  h6{
    text-align: center;
    font-weight: bold;
    margin-right: 75px !important;
    margin-bottom: 20px !important;
    color: #000;
  }
}




/* Second Header */
@media screen and (max-width: 700px){
    .sec-heading {
        text-align: center;
        margin: 0;
    }
  }


@media screen and (max-width: 700px){
  .vc_single_image-img{
    padding-left: 0px;
    margin-left: 0px;
  }
}

.therapist-checklist{
    width: 20%;
    position: fixed;
    top: 75px;
    z-index: 99;
    margin-left: 15px;
  }


/* Toast */
  .view-all {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-top: 0;
    margin: 0 135px;
    color: #000;
    /* text-shadow: 1px 1px 1px #000; */
    border-radius: 10px;
  }

#確認現在加入視頻Btn{
    background: #fff;
    margin-left: 70px;
    font-size: 20px;
    padding: 7px 15px;
    font-size: 18px;
    border: solid 1px #fff  !important;
    position: absolute;
    top: 165px;
    right: 318px;
    z-index: 20;
}

  #確認現在加入視頻Btn:hover{
    margin-left: 70px;
    font-size: 20px;
    padding: 7px 15px;
    font-size: 18px;
    border: solid 1px #1468e6;
    position: absolute;
    top: 165px;
    right: 320px;
    z-index: 20;
    background: linear-gradient(to bottom left,#63d19e,#0eb7fa)
  }

  @media screen and (max-width: 700px){

    #確認現在加入視頻Btn{
      background: #fff;
      margin-right: 0px;
      font-size: 20px;
      padding: 0!important;
      font-size: 18px;
      border: solid 1px #fff  !important;
      position: absolute;
      z-index: 20;
  }
    #確認現在加入視頻Btn:hover{
    margin-right: 0px;
    font-size: 20px;
    padding: 7px 15px;
    font-size: 18px;
    border: solid 1px #1468e6;
    position: absolute;
    z-index: 20;
    background: linear-gradient(to bottom left,#63d19e,#0eb7fa)
  } 

  /* Section_5 nav-link */
  
#heyGoGetJitsi{
    margin: 0;
    padding: 0;
  }
  
  #heyGoGetJitsi #nav-link:hover{
    background: none !important;
  }
  
  /* 通知 Button */
  #notification-btn{
    margin: 0 15px;
  }

  /* HTML 

  <a href="#section_5" id="heyGoGetJitsi" class="scrollto nav-link bg-dark"> */

/* toast position */
#toast-container .toast{
    position: absolute;
    top: 46px;
    left: 976px;
    background-color: cornsilk;
  }

  .toast-body{
    color: #000;
    padding: 18px auto !important;
  }
  .hr-normal {
    border-top: 1px solid #8c8b8b;
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 12px;
  }

/* x close the toast */
button.close-toast {
    padding: 0;
    background-color: #fff;
    border: 0;
    position: relative;
    top: 2px;
    right: -43px;
    opacity: 0.8;
    transition: 0.1s;
  }

  .cover-heading {
    color: #000 !important;
    width: 34%;
    text-decoration: transparent;
    box-shadow: 5px 5px 8px #000;
  }

    #eHeart_iCare{
        width: 20%;
        opacity: 1;
        color: #000;
        border: solid 2px #000;
        font-size: 20px;
        display: inline-block;
        border-radius: 5px;
    }
    

    .carousel-item > img {
        position: absolute;
        min-width: 55%;
        height: 32rem;
        border-radius: 50px;
      }
    
    /* Profile introduction */
      #overlay {
        position: absolute;
        top: 75px;
        left: 45%;
        width: 50%;
      }
    
      @media screen and (max-width: 700px){
        #overlay, #overlay > div{
          color: #fff;
          font-size: 5px !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
          margin-left: 0 !important;
          margin-right: 0!important;
        }
      }



@media screen and (max-width: 700px){
    .social-icons > div{
      right: 653px;
      margin: 5px !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: 115px !important;
      height: 115px !important;
      display: flex !important;
    }
  }


  @media screen and (max-width: 700px){
    .contact-us{
        border: solid 2px #000;
        font-weight: bold;
        border-radius: 10px;
        width: 20%;
        margin-left: 210px!important;
        display: flex;
        justify-content: center;
    }
  }
  
  .copyright{
  position: relative;
  left: 630px;
  font-size: 100px;
  font-weight: bold;
  font-size: 10px;
  z-index: 2;
  color: #000;
}

@media screen and (max-width: 700px){
  .copyright{
    position: sticky;
    font-weight: bold;
    margin-left: 0px!important;
    text-align: center;
  }
}
}