body {
  font-family: 'Heebo', sans-serif;
  padding-right: 0 !important;
  background-image: url("https://images.pexels.com/photos/3987020/pexels-photo-3987020.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 33%;
  background-repeat: no-repeat;
  background-position-x: left; 
  background-position: 0 auto;
  margin: 0;
  line-height: 2;
  transition: 0.1s;
  }
  
  @media screen and (max-width: 700px){
    body{
      background-image: url("https://images.pexels.com/photos/3987020/pexels-photo-3987020.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
      background-size: 100% !important;
      
    }
}

h1,h2,h6{
    text-align: center;
    font-weight: bold;
    margin: 38px auto;
    color: #fff;
    color: #000;
}

@media screen and (max-width: 700px){
  h6{
    text-align: center;
    font-weight: bold;
    margin-right: 75px !important;
    margin-bottom: 20px !important;
    color: #000;
  }
}


.color-text{
  color: #000;
  text-decoration: transparent;
  width: fit-content;
  font-size: 20px;
  color: #63d19e;
  opacity: 1;
  border-radius: 5px;
}

h3{
  font-size: 20px;
  width: 32%;
  margin: 35px auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px #5a5663;
  opacity: 0.9;
  text-decoration: transparent;
}  

h4 {
  text-align: center;
  margin-bottom: 25px;
}

h5{
  text-align: center;
  /* margin-left: 90px; */
}

p{margin: 30px;}

hr{
    margin: 25px;
    border-top: 4px dotted #63d19e;
}

.hr-normal{
  border-top: 1px solid #8c8b8b;
  margin-top: 55px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 12px;
}

.giantContainer{
  max-width: 1500px;
  /* max-width: 1500px; */
  background-color: #ffffff(0, 0, 0, .9);
  /* background-color: 5a5663; */
  opacity: 0.95;
  }


/* Toast */
.view-all {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  margin-top: 0;
  margin: 0 135px;
  color: #000;
  /* text-shadow: 1px 1px 1px #000; */
  border-radius: 10px;
}

#現在加入視像會議btn{
  margin: 10px 90px !important;
}

/* toast position */
#toast-container .toast{
  position: absolute;
  top: 46px;
  left: 976px;
  background-color: cornsilk;
}


.toast.show {
  display: block;
  opacity: 1;
}

.toast-body{
  color: #000;
  padding: 18px auto !important;
}


.toast {
  max-width: 400px;
  overflow: hidden;
  position: absolute;
  font-weight: bold;
  top: 42px;
  left: 708px;
  font-size: 15px;
  background-color: rgba(255,255,255,0.85);
  background-clip: padding-box;
  border: 2px solid rgba(0,0,0,.1);
  box-shadow: 0 0 5px 8px rgba(0,0,0,.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  z-index: 10;
}

/* .btn-primary{    
  margin: 40px 625px !important;
} */

button.close-toast {
  padding: 0;
  background-color: #fff;
  border: 0;
  position: relative;
  top: 2px;
  right: -43px;
  opacity: 0.8;
  transition: 0.1s;
}

button.close-toast:hover{
  color:#000;
  opacity: 1;
}

.close-pop-up-box{
  background-color: #0000005e;
  border-radius: 50px;
  transform: translate(0%, -50%);
  position: relative;
  top: -58px;
  right: -45px;
  padding: 12px 18px;
  text-shadow: 0 2px 0 #fff;
  opacity: 0.5;
  cursor: pointer;
  z-index: 10;
}
.close-pop-up-box:hover {background: #2bbbad;}



/* notification of ${time} min ago*/
.mr-auto, .mx-auto {
  margin-right: 80px !important;
}


/* Heading : navbar  
-----------*/
#navbar{
  position: initial;
  z-index: -5;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  margin: 70px auto;
}

ul.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav{
    margin-left: 218px !important;}

.navbar{padding: 0 20px!important;}

/* Heading of each Section */
.nav-pills .nav-link {
  border-radius: 5px;
  color: #fff;
  border-radius: 5px;
  padding: 0 22px;
  /* background-color:; */
}

#heyGoGetJitsi{
  margin: 0;
  padding: 0;
}

#heyGoGetJitsi #nav-link:hover{
  background: none !important;
}

#notification-btn{
  margin: 0 15px;
}

.nav-pills .nav-link.active, .nav-pills .show >.nav-link {background-color: transparent;}

.ml-auto, .mx-auto { /* mr: notification */
  margin-left: auto!important;
  margin-right: 25px !important;
}

.navbar-brand{
  font-size: 24px;
  }

.nav-link:hover{
    text-decoration: none;
    background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
    text-decoration: transparent;
    box-shadow: #63d19edc;
    border-radius: 25px;
    
}
/* Navbar 通知 Button 
_______________________*/
.btn-secondary {
  padding: 3.1px 15px;
  margin-bottom: 2px;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  border-radius: 25px;
}
.btn-secondary:hover{
  box-shadow: #63d19e;
  text-decoration: none;
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  text-decoration: transparent;
  border-radius: 25px;
  }

.badge {
    display: inline block;
    padding: .25em .4em;
    font-size: 80%;
    font-weight: 700;
    text-align: right;
    white-space: nowrap;
    border-radius: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn .badge {
  position: sticky;
  padding: 3px 4px;
}

/* disabled btn */
.nav-link.disabled {
  color: #6c757d !important;
  pointer-events: none;
  cursor: default;
}

/* Search btn */
.navbar-search {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

/* Brand Logo
-------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #000;
    margin: 78px auto;
}

.cover-heading{
    color: #000000 !important;
    width: fit-content;
    text-decoration: transparent;
    box-shadow: 5px 5px 8px #000;
}

.py-5{padding-bottom: 0!important;}

.wpb_content_element{margin: 30px auto;}

/* Heading 1 & 2 */ 
.first-heading {
  display: flex;
  text-align: center;
  margin: 0;
  padding-top: 110px;
  padding-bottom: 100px;
  border-radius: 10px;
}

.sec-heading {text-align: center;
}
@media screen and (max-width: 700px){
  .sec-heading {
      text-align: center;
      margin: 0;
  }
}

.online-platform{
    font-size: 22px;
    width: fit-content;
    border-radius: 5px;
    margin-left: 380px;
    text-align: center;
    background-color: #fff;
    opacity: 0.8;
    text-decoration: transparent;
    display:flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#eHeart_iCare{
  width: 200px;
  opacity: 1;
  color: #000000;
  font-size: 20px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #000;
  }

.flex-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.flex-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 75px;
  font-weight: bold;
  border-left-width: 8px;
  border-color: #2bbbad;
  border-style: solid;
  border-left-width: 10px;
  border-right-width: inherit;
  border-top-width: inherit;
  border-bottom-width: inherit;
  background-color: snow;
  border-radius: 12px;
  margin-top: 10px;
}

.vc_single_image-img{
  width: 50%;
  height: 50%;
  opacity: 0.95;
}

@media screen and (max-width: 700px){
  .vc_single_image-img{
    padding-left: 0px;
    margin-left: 0px;
  }
}

/* Survey Modal Form
------------------------*/
/* Modal-header*/
.modal-header .closebtn{
  background-color: #0000005e;
  border: solid 1px transparent;
  position: absolute;
  top: -20px;
  right: -18px;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  font-size: 22px;
  z-index: 20;
  cursor: pointer;
}

.modal-header .closebtn:hover {background: #2bbbad;}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0 25px;
  color: #000;
  text-align: left;
  }

.modal{
  position: fixed;
  top: 0;
  left: 0;
}

  #myModal{
    width: 100%;
    outline: 0;
    background: linear-gradient(to bottom right,#5a5663,#1468e6);
    opacity: 0.9;
  } 

  .modal-content{
    border: 1px solid rgba(0,0,0,.2) !important;
    border-radius: 25px !important;
  }


/* .modal-header{display: initial;} */

.modal-backdrop {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 20;
}

.modal-open{
  padding-right: 0 !important; 
  overflow: initial !important}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: initial;
  justify-content: flex-end;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

/* Survey css Elements
------------------------*/
.text-box-size{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100px;
  width: 500px;
}

.survey-text-box {
  width: 300px;
  height: 30px;
}

/* 提交問卷 Button*/
.btn-info{background: linear-gradient(to bottom left,#9561f7,#1468e6);}

.btn-info:hover{background: linear-gradient(to bottom left,#63d19e,#0eb7fa);}

#提交問卷 > .btn-primary {margin-left: 342px !important;}


/* Video Modal 
------------------------*/
/* Video close Button*/
/* Session_5 : Navigation */

#heyGoGetJitsi{
  margin: 0;
  padding: 0;
}

#heyGoGetJitsi:hover{
  background: transparent;
}

#確認現在加入視頻Btn{
  background: #fff;
  margin-left: 70px;
  font-size: 20px;
  padding: 7px 15px;
  font-size: 18px;
  border: solid 1px #fff !important;
  position: absolute;
  top: 165px;
  right: 318px;
  color: #000;
  z-index: 20;
}

#確認現在加入視頻Btn:hover{
  margin-left: 70px;
  font-size: 20px;
  padding: 7px 15px;
  font-size: 18px;
  border: solid 1px #1468e6;
  position: absolute;
  top: 165px;
  right: 318px;
  z-index: 20;
  color: #000;
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa)
}

@media screen and (max-width: 700px){

  #確認現在加入視頻Btn{
    background: #fff;
    margin-right: 0px;
    font-size: 20px;
    padding: 0!important;
    font-size: 18px;
    border: solid 1px #fff !important;
    position: absolute;
    z-index: 20;
}
  #確認現在加入視頻Btn:hover{
  margin-right: 0px;
  font-size: 20px;
  padding: 7px 15px;
  font-size: 18px;
  border: solid 1px #1468e6;
  position: absolute;
  z-index: 20;
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa)
} 
}


#confirm-the-session-btn-group{
  display: flex;
  flex-direction: row;
}

#enterJitsiNow {
  position: relative;
  left: 32px;
  margin: 30px auto;
  font-size: 20px;
  border-radius: 10px;
}

.btn-info{background: linear-gradient(to bottom left,#9561f7,#1468e6);}

.btn-info:hover{background: linear-gradient(to bottom left,#63d19e,#0eb7fa);}


/* 常見心理病 */

.disease-example {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    margin: 35px auto;
    color: #000000;
    text-decoration: underline;
}

.disease-example > div {
    height: 200px;
    width: 200px;
    border: black 1px solid;
    margin: 25px;
    font-weight: bold;
}

.驚恐症 {
  background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img012x.jpg");
  background-size: 140%;
  color: #000;
  font-size: 20px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: 0.2;
  border-radius: 120px;
}
.驚恐症:hover {opacity: 1;}

.社交焦慮症 {
  background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img042x.jpg");
  color: #000;
  font-size: 20px;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  opacity: 0.8;
  transition: 0.2;
}
.社交焦慮症:hover {opacity: 1;}

.強迫症 {
  background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img052x.jpg");
  color: #000;
  font-size: 20px;
  background-size: 135%;
  background-position-y: end;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  opacity: 0.8;
  transition: 0.2;
}
.強迫症:hover {opacity: 1;}

.精神分裂症 {
  background-image: url("https://img.zcool.cn/community/0141f8577287e90000012e7efff300.jpg@1280w_1l_2o_100sh.jpg");
  color: #000;
  font-size: 20px;
  background-size: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  opacity: 0.8;
  transition: 0.2;
}
.精神分裂症:hover {opacity: 1;}

.自閉症 {
  background-image: url("https://img3.stockfresh.com/files/n/nito/m/12/9751957_stock-photo-puzzle-pieces-symbol-of-the-autism-awareness.jpg");
  color: #000;
  font-size: 20px;
  background-size: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  opacity: 0.8;
  transition: 0.2;
}
.自閉症:hover {opacity: 1;}

.鬱躁症 {
  background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img062x.jpg");
  color: #000;
  font-size: 20px;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  opacity: 0.8;
  transition: 0.2;
}
.鬱躁症:hover {opacity: 1;}

.抑鬱症 {
  background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img072x.jpg");
  color: #000;
  font-size: 20px;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  opacity: 0.8;
  transition: 0.2;
}
.抑鬱症:hover {opacity: 1;}

.創傷後情緒病 {
  background-image: url('https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img032x.jpg');
  color: #000;
  font-size: 20px;
  background-size: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  opacity: 0.8;
  transition: 0.2;
}

.創傷後情緒病:hover {opacity: 1;}

/* Popupbox && service options
______________________________*/
#popUpBoxManagement{
  padding:0 !important;
  margin-top: 0 !important;
  /* z-index:99; */
  
}

.popupbox{
  position: fixed;
  z-index: 2;
  bottom: 40px;
  left: 1025px;
  font-size: 14px;
  border: 2px solid gray;
  box-shadow: 1px 1px 2px grey;
  background-color: #fff;
  cursor: pointer;
  /* text-align: start; */
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  
    }

  /* This is style the close button (public) */
  .close {
    background-color: #0000005e;
    border-radius: 50px;
    cursor: pointer;
    z-index: 10;
    transform: translate(0%, -50%);
}

.close:hover {background: #2bbbad;}


/* Popupbox && service options (Four Box-elements)
__________________________________________________*/

ul{
  list-style: none;
  padding-left: 0;
  }

.box-elements {
  background: linear-gradient(to bottom right,#9561f7,#1468e6);
  font-size: 14px;
  border-radius: 20px;
  color: #fff;
  border: solid 1px #1468e6;
  text-align: center;
  margin: 10px 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.box-elements:hover{
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  border: solid 1px #63d19e;
  opacity: 1;
}

/*Option id: clientSuccess*/
  .popover{
    max-width: 400px; 
  }
  

  .container a{
  color: #fff !important;
  transition: 0.2s;
  }
  .container a:hover{
    text-decoration: none !important;
  }

.svg-inline--fa.fa-w-11 {width: 10px;}

/* .badge .feed-badge{
    position: absolute;
    z-index: 2;
} */


main {
  padding-top: 48px;
  padding-bottom: 48px;
  }

  /* Customize The Carousel
  --------------------------*/
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
    z-index:0 !important;}
    /* Since positioning the image, we need to help out the caption */
  
    .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .w-100 {
    width: 40%!important;
    border-radius: 75px !important;
  }
  .carousel-item .img {
    border-radius: 100px !important;
    
  }


  /* Declare heights because of positioning of img element */
  .carousel-item {height: 32rem;}

  .carousel-item > img {
    position: absolute;
    min-width: 55%;
    height: 32rem;
    border-radius: 50px;
  }

/* Profile introduction */
  #overlay {
    position: absolute;
    top: 75px;
    left: 45%;
    width: 50%;
  }

  @media screen and (max-width: 700px){
    #overlay, #overlay > div{
      color: #fff;
      font-size: 5px !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-left: 0 !important;
      margin-right: 0!important;
    }
  }
  
 #overlay > div {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    text-align: center;
    padding: 20px 30px;
    border-radius: 30px;
}
  
  #overlay > div h4 {
    border-top: solid 3px #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #999999;

  }


  /* Carousel
  --------------*/

.carousel-inner {
    position: relative;
    width: 90%;
    overflow: hidden;
    border-radius: 100px;
    margin-left: 90px;
}

/* .carousel-item{ height: 400 !important;} */

.carousel-control-next-icon{color: #000 !important;}

.carousel-control-prev-icon{color: #000 !important;}

.carouselExampleIndicators{color: #000 !important;}

.carousel-indicators{
    width: 230px !important;
    height: 30px !important;
    margin: 0 auto;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    border: 0;
    background-color: snow !important;
    transition: all 0.3s;
    opacity: 0.6;
  }

.carousel-indicators li:hover {opacity: 0.2;}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #000;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-next:hover, 
.carousel-control-prev:focus, 
.carousel-control-prev:hover {
    color: #fff;
    outline: 0;
    opacity: 0.75;
    background-color: #2bbbad;
  }

.carousel {margin-bottom: 15px !important;}

.profile{
  border-radius: 20px !important;
  z-index: -1;
}

.profile-pics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 20px;
}

.profile-pics > div {
  display: flex;
  position: relative;
  margin-bottom: 5px;
  width: 198px;
  height: 198px;
  transition: 0.2s;
    /* opacity: 0.6; */
}


.profile-pics > div:hover{
    background-color: none;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px paleturquoise;
    opacity: 1;
}

.framea{margin: 30px;}

.frameb{
    margin-top: 30px;
    margin-bottom: 9px;
}

/* h1 col-md-12 */

.row .col-md-12{
  position: none !important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* Brand Selling Points
-----------------------*/
#brand-selling-points{padding: 40px 0px;}

#brand-selling-point .col-lg-2 {
    border-radius: 15px;
    height: 220px;
    font-weight: bold;
    text-align: center;
    margin: 15px 5px;
    transition: 0.2s;
    cursor: pointer;
}

.row .col-lg-2 .logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 175px;
  width: 175px;
  font-size: 16px;
  margin: 10px auto;
  border-radius: 90px;
  background: linear-gradient(to bottom left,#9561f7,#1468e6);
  color: snow;
  opacity: 0.8;
  cursor: pointer;
}

.row .col-lg-2 .logos:hover{
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  opacity: 0.7;
}

/* Live/Offline/Busy 
______________________________*/
.艾莉絲,.蕾夢娜,.馬特史密斯,.花生醬先生,
.泰坦斯,.派佩,.娃娃{
  position: absolute;
  left: 8px;
  bottom: 5px !important;
  background-color:#000;
  color: #fff;
  bottom: -2425px;
  height: 30px;
  width: 90px;
  text-align: center;
  border-radius: 5px;
  opacity: 0.85;
  transition: 0.1s;
  cursor: pointer;
}


.艾莉絲:hover,.蕾夢娜:hover,.馬特史密斯:hover,.花生醬先生:hover,
.泰坦斯:hover,.派佩:hover,.娃娃:hover{
  background-color: #fff;
  color: #000;
  opacity: 0.85;
  
}

.online-therapist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}  	

.therapist-checklist{
  width: 20%;
  position: fixed;
  top: 75px;
  z-index: -10;
}

.therapist-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 1%;
  float: left;
}

.online-therapist{
  /* background-color: cyan; */
  /* box-shadow: 3px 3px 3px #5e565654; */
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  font-weight: bold;
  border-radius: 20px;
  width: 198px;
  height: 60px;
  position: sticky;
  bottom: 20px;
  opacity: 0.8;
  margin: 2px;
  cursor: pointer;
  transition: 0.2s;
  
}

.online-therapist:hover {
  background-color: #000;
  opacity: 1;
  color: #fff!important;
}

/* Popup Tool 
------------------*/
.helper {
  position: fixed;
  bottom: 12px;
  left: 1320px;
  z-index: 10;
}

/* Popup container - 現在諮詢 */
.popup{
  cursor: pointer;
  font-size: 18px;
  right: 100px;
  color: #fff;
  text-align: center;
  padding: 8.5px 35px;
  border-radius: 15px;
  background: linear-gradient(to bottom left,#9561f7,#1468e6);
  margin: 18px auto;
  transition: 0.2s;
}
 
  .popup:hover{
    background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
    border: solid 1px #1468e6;
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 240px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* 進入視頻 Button 
-----------------*/

#confirmMessageBtn{
      background: linear-gradient(to bottom right,#9561f7,#1468e6);
      color: #fff;
      border: 0 !important;
      padding-left: 17px;
      padding-right: 17px;
      opacity: 0.85;
      cursor: pointer;
      transition: 0.1s;
    }
    
  
    #confirmMessageBtn:hover{
      background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
      border: solid 1px #63d19e;
    }
  
    
    /* Modal form group  */
    .form-group{margin-top: 20px;}
      
    .form-group .btn-primary {
      margin: 0 !important;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }
    .form-group .btn-primary:hover{
      background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
      border: solid 1px #63d19e;
      opacity: 1;
      }

/* Footer 
____________*/
.footer{
  margin: 35px auto;
}

.footer-text{
  background-color: #999999;
  opacity: 0.9;
}

.weHear{
  color: #000;
  margin: 40px auto;
}

.businessSuccess{
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.9;
  padding: 0px;
}

.businessSuccess > div {
  width:100%;
  height: 100%;
}

.businessSuccess > div > img {
  width: 100%;
  height: 100%;
}

.highlights{
  width: 200px;
  height: 200px;
  display: grid;
  align-content: center;
  font-size: 40px;
  background-color: #fff;
  box-sizing: border-box;
  opacity: transparent;
  border-radius: 20px;
  border: solid 1px #fff;
  color: #000;
  line-height: 2px;
  margin: 5px 0;
  position: absolute;
  top: 125px;
}

.p-normal{
  margin: 0;
  color: #000;
  font-weight: bold;
  margin: 1px auto;
  text-decoration: overline;
  position: absolute;
  bottom: 125px
}

.contact-us{
  border: solid 2px #000;
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
  background-color: #f3f3f3;
  margin: 5px auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px){
  .contact-us{
      border: solid 2px #000;
      font-weight: bold;
      border-radius: 10px;
      width: 20%;
      margin-left: 210px!important;
      display: flex;
      justify-content: center;
  }
}


/* Social Media Container */
.wpb_wrapper {
  left: 658px;
  bottom: 105px;
}



.copyright{
  left: 630px;
  font-size: 100px;
  font-weight: bold;
  font-size: 10px;
  z-index: 2;
  color: #000000;
  text-align: center;
}

@media screen and (max-width: 700px){
  .copyright{
    position: sticky;
    font-weight: bold;
    margin-left: 0px!important;
    text-align: center;
  }
}

  
.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  top: 95px;
}

.social-icons > div {
  width: 115px;
  height: 115px;
  display: flex;
  margin: 20px;
  right: 250px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  transition: all 0.2s;
  background-color: rgb(98, 0, 255);
}

.social-icons > div:hover {
  background: linear-gradient(to bottom right,rgba(138, 138, 138, 0.7),rgba(255, 255, 255, 0.8));
  opacity: 0.3;
}


@media screen and (max-width: 700px){
  .social-icons > div{
    right: 653px;
    margin: 5px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 115px !important;
    height: 115px !important;
    display: flex !important;
  }
}


.fb{
  background: linear-gradient(to bottom right,rgb(60,0,230,0.7),rgb(98, 0, 255,0.8));
}

.ws{
  background: linear-gradient(to bottom right,rgb(0,240,53,0.7),rgb(21, 231, 49,0.8));
}
.tw{
  background: linear-gradient(to bottom right,rgb(253,0,140,0.7),rgb(250, 14, 45,0.8));
}
.ig{
  background: linear-gradient(to bottom right,rgb(97,193,249,0.8),rgb(80, 220, 245,0.8));
}

.name-test{
  color:white !important;
  margin-left: 8px;
  margin-right: 0px;
  padding-left:3px;
  padding-right:3px;
  background-color: rgba(221, 140, 35, 0.829);
  border-radius: 20px;
}

.you{
  display:flex;
  background: linear-gradient(to bottom left,#f1e5a2b7,#82f7e7a9);
  padding-top:7px;
  padding-bottom: 7px;
  border-radius: 10px;
  margin-left: 5px;
}

/* .logout:hover{
    transition-duration: 3s;
} */

/*Below is CSS related to the video session*/
.popupContainer .close{
  background-color: #0000005e;
  position: relative;
  border-radius: 50px;
  cursor: pointer;
  left: -90px;
  height: 45px;
  z-index: 10;
  padding: 10px 15px;
  transform: translate(0%, -50%); 
}

  
.popupContainer .close:hover{
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  border: solid 1px #63d19e;
}


#session-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#session-row {
  width: 96%;
  height: 95vh;
  border-radius: 25px;
  background: linear-gradient(to bottom left,#d57ef8,#3d8aff);
  opacity: 0.9;
}

#session-container > #session-row > #meet {
  display: flex;
  justify-content: center;
  align-items: center;
}

#session-container > #session-row > div {
  display: flex;
  align-items: center;
  border-radius: 25px;
}

#session-container > #session-row > div > #text-submit-area {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
}

#text-area-container {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}


#text-area-container > form,
#text-area-container > form >  #text-area {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  resize: none;
}
#text-area-container > form > #text-area:focus {
  outline: none;
}

#text-submit-area > #button-area-container{
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  margin-top: 40px;
  margin-right: 70px;
}

.session-submit-btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  width: auto;
  height: auto;
  margin-top: 10px
}

/* modal-dialog-2 : pop up to attend meeting room */
.modal-dialog-2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-footer-2 .btn-primary {margin-left: 0 !important;}

.modal-footer-2 {margin-left: 15px !important;}

.modal-header-2 .close > span{
  background-color: #0000005e;
  border-radius: 50px;
  position: absolute;
  bottom: -15px;  
  z-index: 10;
  cursor: pointer;
  padding: 10px 16px;
}
.modal-header-2 .close > span:hover {background: #2bbbad;}
/* 
.modal-dialog-2{
  background-color: #000;
  
}
.modal-header-2 .modal-title-2{
  background: blue;
  margin: 10px auto;
} */

.modal-dialog-2 .modal-content-2 {
  position: relative;
  display: flex;
  width: 80%;
  border-radius: 25px;
  /* height: 220px; */
  /* bottom: -305px; */
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  /* border: 2px solid rgba(0,0,0,.2); */
  /* border-radius: 15px; */
  padding: 5px 25px;
  z-index: 99;
  /* background-color: red; */
  /* border: solid 5px; */
  box-shadow: 5px 5px 5px #000;
}

.modal-dialog-2 .modal-body-2 {
  padding: 0 16px !important;
  margin-bottom: 20px;
  text-align: center;
}

.modal-2-buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.modal-2-buttons > .btn-primary-2 {
  margin-left: 0px;
}