/* New */
.grant-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;    
}

img{
  vertical-align: middle;
  border-style: none;
  padding-bottom: 30px;
}

body { 
/* background-image: URL("../img/technology-digital.jpg"); */
/* background-repeat: no-repeat;
background-size: 100%; */
/* filter: blur(2px); */
font-weight: 300;
width: 100%;
color: #fff;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 290px auto;
/* background-image: URL("../img/technology-digital.jpg"); */
/* filter: blur(2px); */
background: linear-gradient(to bottom left,#cd61f7,#1468e6);
}

/* .background-img{
  background-repeat: no-repeat;
  margin: 0;
  display: inline;
  z-index: 99;
  border-radius: 100px;
  opacity: 0.8;
} */
.text-center {
  text-align: center!important;
  margin: 35px;
}

.md-form {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 24rem;
}
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs {

display: flex;
margin: -24px 16px 0 16px;
-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.md-form.form-sm .prefix ~ input, .md-form.form-sm .prefix ~ textarea {
width: calc(100% - 32px);
margin-left: 32px;
}
.md-form.form-sm .prefix ~ input, .md-form.form-sm .prefix ~ textarea {
width: calc(100% - 32px);
margin-left: 32px;
}

.md-form .prefix {
  position: absolute;
  transition: color .2s;
}
.md-form.form-sm .prefix ~ input, .md-form.form-sm .prefix ~ textarea {
  width: calc(100% - 32px);
  margin-left: 32px;
}

.modal-dialog.cascading-modal .modal-footer {
padding-right: 32px;
padding-left: 32px;
color: #616161;
}

.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li {
flex: 1;
}

.md-tabs .nav-item+.nav-item {
margin-left: 0;
}

.light-blue.darken-3 {
background-color: #0277bd !important;
}

.btn {
margin: .6px;
color: inherit;
text-transform: uppercase;
word-wrap: break-word;
white-space: normal;
cursor: pointer;
border: 0;
border-radius: 2px;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
padding: 13.5px 35px;
font-size: 13px;
}

.btn-info {
color: #fff;
/* background-color: #2bbbad !important; */
background-color: #33b5e5 !important;
border-radius: 15px;
}

.btn-outline-info {
color: #33b5e5 !important;
background-color: transparent !important;
border: 2px solid #33b5e5 !important;
}

.btn-default {
color: #fff;
background-color: #60d4c9 !important;
/* background-color: #60d4c9 !important; */
opacity: 0.9;
}

.btn-rounded {
border-radius: 10em;
}

a.waves-effect, a.waves-light {
display: inline-block;
}

/* Form */
div {
display: block;
}

ol, ul, dl {
margin-top: 0;
margin-bottom: 16px;
}

ul {
display: block;
list-style-type: disc;
margin-block-start: 16px;
margin-block-end: 16px;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}

.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li a {
text-align: center;
}

.md-tabs {
  position: relative;
  z-index: 1;
  padding: .7rem;
  margin-right: 1rem;
  margin-bottom: -20px;
  margin-left: 1rem;
  background-color: #2bbbad;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.md-tabs .nav-link {
color: #fff;
border: 0;
transition: all .4s;
transition: all .4s;
}

.nav-tabs .nav-link {
border: 1px solid transparent;
border-radius: 10px;
}


.modal-content {
position: relative;
display: flex;
flex-direction: column;
width: 100%;
pointer-events: auto;
background-color: #fff;
background-clip: padding-box;
border: 1px solid rgba(0,0,0,0.2);
border-radius: 48px;
outline: 0;
}

.md-form.form-sm .validate {
margin-bottom: 37px;
}
.md-form .validate {
margin-bottom: 40px;
}

.md-form input:not([type]), 
.md-form input[type="text"]:not(.browser-default), 
.md-form input[type="password"]:not(.browser-default), 
.md-form input[type="email"]:not(.browser-default), 
.md-form input[type="url"]:not(.browser-default), 
.md-form input[type="time"]:not(.browser-default), 
.md-form input[type="date"]:not(.browser-default), 
.md-form input[type="datetime"]:not(.browser-default), 
.md-form input[type="datetime-local"]:not(.browser-default), 
.md-form input[type="tel"]:not(.browser-default), 
.md-form input[type="number"]:not(.browser-default), 
.md-form input[type="search"]:not(.browser-default), 
.md-form input[type="phone"]:not(.browser-default), 
.md-form input[type="search-md"], .md-form textarea.md-textarea {
box-sizing: content-box;
background-color: transparent;
border: 0;
padding-left: 5px;
border-bottom: 1px solid #ced4da;
border-radius: 0;
outline: 0;
box-shadow: none;
transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

#panel7{
  margin-top: 10px;
}
#panel8{
  margin-top: 10px;
}

.md-form {
position: relative;
margin-top: 0;
margin-bottom: 0;
}

.md-form .mb-4{
position: relative;
margin-top: 16px;
margin-bottom: 1;
}

.mb-4 {
margin-bottom: 24px !important;
}

.mb-5 {
margin-bottom: 0 !important;
}

.md-form .form-control {
height: auto;
padding: 10px 0 6.5px 0;
margin: 0 0 8px 0;
background-color: transparent;
border-radius: 0;
}

/* i class */
.md-form.form-sm .prefix {
top: 5.6px;
font-size: 24px;
}

.md-form .prefix {
position: absolute;
transition: color .2s;
}

.md-form.form-sm .prefix ~ label {
  margin-left: 32px;
}

.md-form.form-sm label {
  font-size: 14px;
}
.md-form>label {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.md-form label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  cursor: text;
  transition: transform .2s ease-out,color .2s ease-out;
  transition: transform .2s ease-out,color .2s ease-out;
  transform: translateY(12px);
  transform-origin: 0 100%;
}

.md-form input[type="password"]:not(.browser-default) {
  box-sizing: content-box;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
}
.md-form label {
  font-size: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 8px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 150px auto;
  pointer-events: none;
}


.md-form input[type="password"]:not(.browser-default)+label::after{
  position: absolute;
  top: 65px;
  display: block;
  content: "";
  opacity: 0;
  transition: .2s opacity ease-out,0.2s color ease-out;
}

input[type="password"]:not(.browser-default)+label::after{
  position: absolute;
  top: 65px;
  display: block;
  content: "";
  opacity: 0;
  transition:.2s opacity ease-out,0.2s color ease-out;
}

input[type="password"]:not(.browser-default).form-control-sm.valid+label:after{
  top: 60px;
}

.md-form input[type="password"]:not(.browser-default)+label::after {
  position: absolute;
  top: 65px;
  display: block;
  content: "";
  opacity: 0;
  transition: .2s opacity ease-out,0.2s color ease-out;
}


.md-form input[type="password"]:not(.browser-default) {
  box-sizing: content-box;
  background-color: transparent;
  border: 0;
  padding-left: 5px !important;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
}

.fas {
font-weight: 900;
font-family: "Font Awesome 5 Free";
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
}

.pt-1{
padding-top: 4px !important;
}

.form-control-sm {
height: calc(1.5em + 8px + 2px);
padding: 4px 8px;
line-height: 1.5;
border-radius: 3.2px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 12px + 2px);
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
overflow: visible;
}

.modal-body{
position: relative;
flex: 1 1 auto;
padding: 16px;
}

.modal-dialog.cascading-modal .modal-body {
padding-right: 32px;
padding-left: 32px;
color: #616161;
}

.blue-text {
color: #2196f3 !important;
border-radius: 15px;
}

a {
color: #007bff;
text-decoration: none;
background-color: transparent;
cursor: pointer;
transition: all .2s ease-in-out;
}

a:hover {
color: #0056b3;
text-decoration: none;
transition: all .2s ease-in-out;
text-decoration: underline;
}

#Change-to-Register {
  color: #2196f3;
}

#Change-to-Register:hover {
  color: #0056b3;
  text-decoration: none;
  transition: all .2s ease-in-out;
  text-decoration: underline;
  }

#Change-to-Login {
    color: #2196f3;
}
  
#Change-to-Login:hover {
    color: #0056b3;
    text-decoration: none;
    transition: all .2s ease-in-out;
    text-decoration: underline;
}

#login-message {
  text-align:center;
}




