body {
    /* background: linear-gradient(to bottom right, #9561f7, #1468e6); */
    /* background-image: url("");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.8; */
    margin: 30px 350px;
    border: 2px solid cadetblue;
    line-height: 2;
    border-radius: 15px;
  }

  h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .text-box {
    width: 300px;
    height: 30px;
  }

  .btn-primary {
    margin: 15px 330px;
  }