body {
    cursor: pointer;
    background: linear-gradient(to bottom left, #9561f7, #1468e6);
    /* background: linear-gradient(to bottom left, #B2FFDA,#9561f7); */
    height: 100vh;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.errorpage-text {
    width: 550px;
    height: 280px;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
    font-size: 16px;
    margin: 0;
    padding: 25px 30px;
}

._404 {
    font-size: 125px;
    text-align: center;
}

._1 {
    font-size: 25px;
    text-align: center;
}

#goback-btn {
    text-align: center;
    margin: 15px 65px;
}

/* hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
} */

hr{
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    margin-top: 2px;
}

img{
    margin-right: 20px;
}