body {
  margin: 0;
  line-height: 2;
  font-family: 'Heebo', sans-serif;
  /* font-family: "Roboto",sans-serif; */
  background-image: URL("../img/loading_50px.gif");
  /* background-image: url("../thera-home-pg/img-thera-home-pg/brain-mental-health-icons-vector-set_53876-61364.jpg"); */
  background-size: 2%;
  /* opacity: 0.3; */
  z-index: -10;
  padding-right: 0!important;
  }

  h1,h2{
  text-align: center;
  margin: 30px auto;
  }

  h3{
  font-size: 20px;
  width: 32%;
  border-radius: 10px;
  margin: 30px 380px;
  text-align: center;
  background-color: #fff;
  opacity: 0.9;
  text-decoration: transparent;
}

h4 {
  text-align: center;
  margin-bottom: 25px;
}

h5{
  text-align: center;
  margin: 0;
}

h6 {
  font-size: large;
  font-weight: bold;
  color: #000;
}

hr{
  margin: 25px;
  border-top: 4px dotted #63d19e;
}

.grantcontainer{max-width: 1500px;}

p{margin: 30px;}

/* Heading 
-----------*/
#navbar{
  position: initial;
  z-index: -5;
}

.navbar-nav{
  margin-left: 250px !important;
}

.navbar{
  padding: 0 16px!important;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show >.nav-link {
  background-color: transparent;
}

/* disabled btn */
.nav-link.disabled {
  color: #6c757d !important;
  pointer-events: none;
  cursor: default;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
  margin-right: 10px !important;
}
/* Brand Logo
-------------*/

header {
display: flex;
justify-content: space-between;
align-items: flex-end;
color: #000;
}

.cover-heading{
color: #000 !important;
width: 38%;
box-shadow: 3px 3px 5px #000;
}

/* .online-platform{
font-size: 22px;
width: 32%;
border-radius: 10px;
margin-left: 380px;
text-align: center;
background-color: #fff;
opacity: 0.9;
text-decoration: transparent;
} */

.navbar-brand{font-size: 24px;}

.nav-link{
  text-decoration: none;
  line-height: 0.5px;
  border-top: solid 5px #333A41;
}

.nav-link:hover{
    text-decoration: none;
    margin-bottom: 2px;
    background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
    text-decoration: transparent;
    box-shadow: #63d19e;
    border-bottom: solid 5px #333A41;
}

.nav-link:hover{
    text-decoration: underline;
    text-shadow: #0eb7fa;
    border-top: solid 5px #63d19e;
    border-bottom: solid 5px #63d19e;
    border-radius: 15px;
}

/* popup Survey Form
------------------------*/

.modal-header .closebtn{
  background-color:#0000005e;
  border: solid 1px transparent;
  position: absolute;
  top: -18px;
  right: -18px;
  height: 40px;
  width: 40px;
  height: 42;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  z-index: 20;
  cursor: pointer;
}

.modal-header .closebtn:hover {background: #2bbbad;}

.text-box-size{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100px;
  width: 500px;
}
 
.modal-body {
position: relative;
flex: 1 1 auto;
padding: 0 25px;
}

#myModal{
  background: linear-gradient(to bottom right,#5a5663,#1468e6);
}

.modal-content{
    box-shadow: 0 0 10px #fff;
    line-height: 2;
    border-radius: 15px;
    position: absolute;
    z-index: 9999;
    text-align: left;
    /* filter: blur(10px); */
}
.modal-header{display: initial;}

.modal-backdrop {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 20;
}

.modal-open{padding-right: 0 !important; }

/* .modal{
  overflow-x: 0 !important;
  overflow-y: 0 !important;
}
.modal-open .modal {
  overflow-x: 0 !important;
  overflow-y: 0 !important;
} */

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: initial;
  z-index: 9999;
  justify-content: flex-end;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

.survey-text-box {
    width: 300px;
    height: 30px;
}

.btn-primary {margin-left: 350px;}

.btn-info{background: linear-gradient(to bottom left,#9561f7,#1468e6);}

.btn-info:hover{background: linear-gradient(to bottom left,#63d19e,#0eb7fa);}

.navbar-search {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.first-heading {
    text-align: center;
    margin: 80px auto;
    padding-bottom: 0;
    display: flex;
    text-align: center;
    background-size: 50%;
    border-radius: 10px;
    opacity: 0.8;
}

.sec-heading {text-align: center;}

.figure {
    text-align: center;
    margin: 50px auto;
}

.disease-example {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    margin: 35px auto;
    color: #fff;
    
    text-decoration: underline;
}

.disease-example > div {
    height: 200px;
    width: 200px;
    border: black 1px solid;
    margin: 25px;
    font-weight: bold;
    
}

.驚恐症 {
    background-image: url("../img/scaredlikehell.jpg");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: 0.2;
    border-radius: 120px;
}
.驚恐症:hover {opacity: 1;}

.社交焦慮症 {
    background-image: url("../img/social-anxiety-disorder.jpg");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}
.社交焦慮症:hover {opacity: 1;}

.強迫症 {
    background-image: url("../img/obsessive-compulsive-disorder.jpg");
    background-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}
.強迫症:hover {opacity: 1;}

.精神分裂症 {
    background-image: url("../img/schizophrenia.jpg");
    background-size: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}
.精神分裂症:hover {opacity: 1;}

.自閉症 {
    background-image: url("../img/autism.jpg");
    background-size: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}
.自閉症:hover {opacity: 1;}

.鬱躁症 {
    background-image: url("../img/bipolar-affective-dsorder.jpg");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}
.鬱躁症:hover {opacity: 1;}

.抑鬱症 {
    background-image: url("../img/depression.jpg");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}
.抑鬱症:hover {opacity: 1;}

.創傷後情緒病 {
    background-image: url('../img/post-traumatic-stress-dsorder.jpg');
    background-size: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}

.創傷後情緒病:hover {opacity: 1;}

/* Popupbox && service options 
______________________________*/
.popupbox{
    position: fixed;
    z-index: 4;
    bottom: 40px;
    right: 60px;
    font-size: 14px;
    border: 2px solid gray;
    box-shadow: 1px 1px 2px gray;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;  
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    opacity: 0.9;
    }

ul{
    list-style: none;
    padding-left: 0;
    }

  * {box-sizing: border-box;}
  
  /* Style the list (remove margins and bullets, etc) */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }


  /* Style the list items */
  ul li {
    /* margin-top: 1px; 
    padding: 12px; */
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
  }
  
  /* Style the close button (span) */
.close {
    background-color: #0000005e;
    line-height: 1;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    position: fixed;
    bottom: 440px;
    right: 46px;
    padding: 10px 16px;
    letter-spacing: 0;
    z-index: 20;
    transform: translate(0%, -50%);
}

.close:hover {background: #2bbbad;}

.box-elements{
    background: linear-gradient(to bottom right,#9561f7,#1468e6);
    font-size: 14px;
    border-radius: 20px;
    color: #fff;
    border: solid 1px #1468e6;
    text-align: center;
    margin: 10px 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.85;
    cursor: pointer;
}

.box-elements:hover{
background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
border: solid 1px #63d19e;
opacity: 1;
}

.cancel-button{
    background: blue;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.svg-inline--fa.fa-w-11 {width: 10px;}

.badge .feed-badge{
    position: absolute;
    z-index: 2;
}

main {
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* color: #5a5a5a; */
    }
  
  /* CUSTOMIZE THE CAROUSEL
  --------------------------*/
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;}

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .w-100 {
    width: 40%!important;
    border-radius: 75px !important;

  }

  .carousel-item .img {border-radius: 100px !important;}

  .carousel-item {height: 32rem;}

  /* Declare heights because of positioning of img element */

  .carousel-item > img {
    position: absolute;
    min-width: 55%;
    height: 32rem;
    border-radius: 50px;
  }

  #overlay {
    position: absolute;
    top: 130px;
    left: 520px;
    width: 50%;
  }
  
 #overlay > div {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    text-align: center;
    padding: 20px 30px;
    border-radius: 30px;
}
  
  #overlay > div h4 {
    border-top: solid 3px #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #999999;
    
  }
  
 

  /* RESPONSIVE CSS
  ------------------------*/
  
  /* @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }


  /* Carousel
  --------------*/

.carousel-inner {
    position: relative;
    width: 90%;
    overflow: hidden;
    border-radius: 100px;
    margin-left: 110px;
}

/* .carousel-item{ height: 400 !important;} */

.carousel-control-next-icon{color: #000 !important;}

.carousel-control-prev-icon{color: #000 !important;}

.carouselExampleIndicators{color: #000 !important;}

.carousel-indicators{
    /* background-color: aquamarine; */
    width: 230px !important;
    height: 30px !important;
    margin: 0 auto;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    border: 0;
    background-color: #000 !important;
    transition: color .3s linear 1s;
    opacity: 0.6;
  }

.carousel-indicators li:hover {
    opacity: 0.2;
  }

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #000;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-next:hover, 
.carousel-control-prev:focus, 
.carousel-control-prev:hover {
    color: #fff;
    outline: 0;
    opacity: 0.75;
    background-color: #2bbbad;
  }

.carousel {margin-bottom: 15px !important;}

.profile{
  margin-left: 15px !important;
  border-radius: 20px !important;
}

.profile-pics {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 20px;
}

.profile-pics > div {
    display: flex;
    width: 198px;
    height: 198px;
    transition: 0.2s;
    opacity: 0.6;
   
}


.profile-pics > div:hover{
    background-color: none;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px paleturquoise;
    opacity: 1;
}

.framea{margin: 30px;}
  /* position: initial !important;
  z-index: -9999 !important;} */

.frameb{

    border-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 9px;
}

/* Brand Selling Points
------------------------*/
.brand-selling-point .col-lg-2 {
    border-radius: 15px;
    height: 220px;
    font-weight: bold;
    text-align: center;
    margin: 15px 5px;
    transition: 0.2s;
    cursor: pointer;
}


.row .col-lg-2 .logos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 165px;
  width: 165px;
  margin: 10px auto;
  border-radius: 90px;
  background: linear-gradient(to bottom left,#9561f7,#1468e6);
  opacity: 0.7;
  cursor: pointer;
}
.row .col-lg-2 .logos:hover{
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  opacity: 0.7;
}


/* Live/Offline/Busy Therapist
______________________________*/

.online-therapist {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	width: 80%;
    height: 80%;
}  	


.therapist-checklist{
    position: fixed;
    top: 75px;
    z-index: -10;
}

.therapist-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

}

.online-therapist{
    /* background: linear-gradient(to bottom right,#9561f7,#1468e6); */
    background-color: #ece8e854;
    box-shadow: 3px 3px 3px #5e565654;
    font-weight: bold;
    border-radius: 20px;
    width: 198px;
    height: 60px;
    position: sticky;
    bottom: 20px;
    opacity: 0.8;
    margin: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.online-therapist:hover {
    background-color: #5e565654;
    opacity: 1;
}

/* Popup Tool 
------------------*/
.helper {
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 10;
}

/* @media (mix-width: 480px) {
  .helper {
    padding: 0;
    left: 100px;
  }
} */


/* Popup container - can be anything you want */
.認識心理病,
.popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 10%;
    color: #fff;
    text-align: center;
    margin-top: 45px;
    margin-left: 630px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background: linear-gradient(to bottom left,#9561f7,#1468e6);
  }

  .認識心理病:hover, 
  .popup:hover{
    background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  }
  
  /* The actual popup */
  
  .popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .七種情緒病自我測試 .popuptext2::after,
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .七種情緒病自我測試 .show,
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* Footers Areas 
-------------------*/
#popUpBoxManagement{
    padding:0 !important;
    margin-top: 0 !important;
}


#confirmMessageBtn{
  background: linear-gradient(to bottom right,#9561f7,#1468e6);
  color: #fff;
  /* border: solid 1px #1468e6; */
  border: 0 !important;
  padding-left: 17px;
  padding-right: 17px;
  opacity: 0.85;
  cursor: pointer;
  transition: 0.1s;
}

#confirmMessageBtn:hover{
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  border: solid 1px #63d19e;
}


/* The Modal (background) */
.modal2 {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content-2 {
  background-color: #fff;
  color: #000;
  height: 225px;
  position: fixed;
  left: 500px;
  top: 200px;
  border: 1px solid #888;
  width: 28%;
  border-radius: 25px;
  margin: 0 auto;
  padding-top: 75px;
}

/* The Close Button */
.closeTheWindow {
  background-color: #0000005e;
  float: right;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: -22px;
  right: -20px;
  background-color: gray;
  border-radius: 35px;
  width: 12%;
}

.closeTheWindow:hover {background: #2bbbad;}


.form-group{margin-top: 20px;}


.form-group .btn-primary {
  margin: 0 !important;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.form-group .btn-primary:hover{
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  border: solid 1px #63d19e;
  opacity: 1;
  }



/* Footer 
__________*/

.wpb_wrapper{
  position: absolute;
  margin-top: 20px;
  left: 650px;
  z-index: 99;
}

.footer-img{
  height: 450px;
  margin: 0;
  width: 1485px;
  opacity: 0.7; 
}
  /* Social Media Container */

.social-icons {
  display: flex;
  /* flex-direction: row;
  justify-content: center;
  align-items: center; */
  position: absolute;
  top: 120px;
  
}

.social-icons > div {
  width: 115px;
  height: 115px;
  display: flex;
  margin: 20px;
  position: relative;
  right: 250px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  transition: all 0.2s;
  /* background-color: rgb(98, 0, 255); */
  
}

.social-icons > div:hover {
  background: #161616;
}

.fb{
  background: linear-gradient(to bottom right,rgb(60,0,230,0.7),rgb(98, 0, 255,0.8));
}

.ws{
  background: linear-gradient(to bottom right,rgb(0,240,53,0.7),rgb(21, 231, 49,0.8));
}

.tw{
  background: linear-gradient(to bottom right,rgb(253,0,140,0.7),rgb(250, 14, 45,0.8));
}
.ig{
  background: linear-gradient(to bottom right,rgb(97,193,249,0.8),rgb(80, 220, 245,0.8));
}

/*Below is CSS related to the video session*/
#session-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#session-row {
  width: 80%;
  height: 80%;
  border-radius: 25px;
  background: linear-gradient(to bottom left,#cd61f7,#1468e6);
}

#session-container > #session-row > #meet {
  display: flex;
  justify-content: center;
  align-items: center;
}

#session-container > #session-row > div {
  display: flex;
  align-items: center;
  border-radius: 25px;
}

#session-container > #session-row > div > #text-submit-area {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
}

#text-area-container {
  width: 100%;
  height: 90%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}


#text-area-container > form,
#text-area-container > form >  #text-area {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  resize: none;
}
#text-area-container > form > #text-area:focus {
  outline: none;
}

#text-submit-area > #button-area-container{
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.session-submit-btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  width: auto;
  height: auto;
  margin-top: 10px
}