body {
    margin: 0;
    line-height: 2;
    font-family: 'Heebo', sans-serif;
    /* background-image: url("../img/mini-background.gif"); */
    /* font-family: "Roboto",sans-serif; */
    /* background-image: url("https://images.pexels.com/photos/3774094/pexels-photo-3774094.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
    /* background-image: url("../thera-home-pg/img-thera-home-pg/brain-mental-health-icons-vector-set_53876-61364.jpg"); */
    /* background-image: url("https://images.pexels.com/photos/4065617/pexels-photo-4065617.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
    /* background-size: 33%; */
    background-image: url("https://images.pexels.com/photos/3987020/pexels-photo-3987020.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: 36%;
    background-repeat: no-repeat;
    background-position-x: center; 
    filter: scale(50%);
    padding-right: 0!important;
    }
  

  /* Heading : navbar  
  -----------*/

  
  /* heading of each Section */
  .nav-pills .nav-link {
    border-radius: 5px;
    color: #fff;
    border-radius: 5px;
    padding: 0 22px;
  }
  
  .btn-light{margin-left: 22px;}

  /* Nav: margin left + margin max */
  .ml-auto, .mx-auto {margin-left: auto!important;}
  
  .nav-pills .nav-link.active, .nav-pills .show >.nav-link {background-color: transparent;}
  
  .navbar-brand{
    font-size: 24px;

  }
  
  .nav-link:hover{
    text-decoration: none;
    background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
    text-decoration: transparent;
    box-shadow: #63d19e;
    border-radius: 25px;
  }
  
  /* disabled btn */
  .nav-link.disabled {
    color: #6c757d !important;
    pointer-events: none;
    cursor: default;
  }
  
  /* Search btn */
  
  /* Brand Logo
  -------------*/
 


  
  /* Survey Modal Form
  ------------------------*/
  #myModal{
    position: absolute;
    z-index: 99;
    width: 100%;
    overflow: hidden;
    outline: 0;
    background: linear-gradient(to bottom right,#5a5663,#1468e6);
    opacity: 0.9;
  } 
  
  .modal-header .closebtn{
    background-color: #0000005e;
    border: solid 1px transparent;
    position: absolute;
    top: -3030px;
    right: -675px;
    height: 48px;
    width: 48px;
    border-radius: 50px;
    font-size: 22px;
    z-index: 20;
    cursor: pointer;
  }
  
  .modal-header .closebtn:hover {background: #2bbbad;}
  
  .modal-header{
    display: initial;
    padding: 0 !important;}
  
  .modal-body {
      position: relative;
      flex: 1 1 auto;
      padding-top: 15px;
      color: #000;
      text-align: left;
      }
    
  
  .modal-backdrop {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 20;
  }
  
  .color-text{
    color: #000;
    text-decoration: transparent;
    width: 40%;
    background-color: #e9fbff;
    opacity: 0.7;
    border-radius: 5px;
    }
  

  .first-heading {
    display: flex;
    text-align: center;
    margin: 0;
    padding-top: 110px;
    padding-bottom: 100px;
    border-radius: 10px;
    /* opacity: 0.9; */
  }
  
  .sec-heading {text-align: center;}
  .modal-open{
    padding-right: 0 !important; 
    overflow: initial !important}
  
  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: initial;
    z-index: 99;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
  }
  
  /* Survey css Elements
  ------------------------*/
  .text-box-size{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100px;
    width: 500px;
  }
  
  .survey-text-box {
    width: 300px;
    height: 30px;
  }
  
  /* 提交問卷 Button*/
  .btn-info{background: linear-gradient(to bottom left,#9561f7,#1468e6);}
  .btn-info:hover{background: linear-gradient(to bottom left,#63d19e,#0eb7fa);}
  
  #提交問卷 > .btn-primary {margin-left: 365px !important;}
  
  
  /* Video Modal 
  ------------------------*/
  /* Video close Button*/
  .modal-header #video-closebtn{
    padding: 12px 16px;
    background-color: #0000005e;
    border-radius: 60px;
    position: relative;
    top: -68px;
    right: -20px;
  }
  
  .modal-header #video-closebtn:hover {background: #2bbbad;}
  
  
  /* 常見心理病 */
  
  .disease-example {
      display: flex;
      flex-wrap: wrap;
      width: 75%;
      justify-content: center;
      margin: 35px auto;
      color: #fff;
      text-decoration: underline;
  }
  
  .disease-example > div {
      height: 200px;
      width: 200px;
      border: #000 1px solid;
      margin: 25px;
      font-weight: bold;
  }
  
  
  .驚恐症 {
      background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img012x.jpg");
      background-size: 140%;
      background-repeat: no-repeat;
      /* background-position-y: 1px; */
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.8;
      transition: 0.2;
      border-radius: 120px;
  }
  .驚恐症:hover {opacity: 1;}
  
  .社交焦慮症 {
      background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img042x.jpg");
      background-size: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 120px;
      opacity: 0.8;
      transition: 0.2;
  }
  .社交焦慮症:hover {opacity: 1;}
  
  .強迫症 {
      background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img052x.jpg");
      background-size: 135%;
      background-position-y: end;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 120px;
      opacity: 0.8;
      transition: 0.2;
  }
  .強迫症:hover {opacity: 1;}
  
  .精神分裂症 {
      background-image: url("https://img.zcool.cn/community/0141f8577287e90000012e7efff300.jpg@1280w_1l_2o_100sh.jpg");
      background-size: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 120px;
      opacity: 0.8;
      transition: 0.2;
  }
  .精神分裂症:hover {opacity: 1;}
  
  .自閉症 {
      background-image: url("https://img3.stockfresh.com/files/n/nito/m/12/9751957_stock-photo-puzzle-pieces-symbol-of-the-autism-awareness.jpg");
      background-size: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 120px;
      opacity: 0.8;
      transition: 0.2;
  }
  .自閉症:hover {opacity: 1;}
  
  .鬱躁症 {
      background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img062x.jpg");
      background-size: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 120px;
      opacity: 0.8;
      transition: 0.2;
  }
  .鬱躁症:hover {opacity: 1;}
  
  .抑鬱症 {
      background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img072x.jpg");
      background-size: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 120px;
      opacity: 0.8;
      transition: 0.2;
  }
  .抑鬱症:hover {opacity: 1;}
  
  .創傷後情緒病 {
      background-image: url('https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img032x.jpg');
      background-size: 65%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 120px;
      opacity: 0.8;
      transition: 0.2;
  }
  
  .創傷後情緒病:hover {opacity: 1;}
  
  /* Popupbox && service options 
  ______________________________*/
  .popupbox{
    position: fixed;
    z-index: 2;
    bottom: 40px;
    left: 1025px;
    font-size: 14px;
    border: 2px solid gray;
    box-shadow: 1px 1px 2px grey;
    background-color: #fff;
    cursor: pointer;
    /* text-align: start; */
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    }
  
  /* Four Box-elements */
    ul{
      list-style: none;
      padding-left: 0;
      }
  
  .box-elements{
      background: linear-gradient(to bottom right,#9561f7,#1468e6);
      font-size: 14px;
      border-radius: 20px;
      color: #fff;
      border: solid 1px #1468e6;
      text-align: center;
      margin: 10px 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      opacity: 0.85;
      cursor: pointer;
  }
  
  .box-elements:hover{
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  border: solid 1px #63d19e;
  opacity: 1;
  }
  
  /* .cancel-button{
      background: blue;
      border-radius: 15px;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
  } */
  
  .svg-inline--fa.fa-w-11 {width: 10px;}
  
  
  main {
      padding-top: 3rem;
      padding-bottom: 3rem;
      color: #5a5a5a;
      }
    
    /* Customize The Carousel
    --------------------------*/
    /* Carousel base class */
    .carousel {
      margin-bottom: 4rem;}
  
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
      bottom: 3rem;
      z-index: 10;
    }
    
    .w-100 {
      width: 40%!important;
      border-radius: 75px !important;
  
    }
  
    .carousel-item .img {border-radius: 100px !important;}
  
    .carousel-item {height: 32rem;}
  
    /* Declare heights because of positioning of img element */
  
    .carousel-item > img {
      position: absolute;
      min-width: 55%;
      height: 32rem;
      border-radius: 50px;
    }
  
    #overlay {
      position: absolute;
      top: 95px;
      left: 520px;
      width: 50%;
    }
    
   #overlay > div {
      background: rgba(0, 0, 0, 0.8);
      color: #ffffff;
      text-align: center;
      padding: 20px 30px;
      border-radius: 30px;
  }
    
    #overlay > div h4 {
      border-top: solid 3px #ffffff;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px #999999;
      
    }
    
  
  
    /* Carousel
    --------------*/
  
  .carousel-inner {
      position: relative;
      width: auto;
      overflow: hidden;
      border-radius: 100px;
      margin-left: 110px;
  }
  
  /* .carousel-item{ height: 400 !important;} */
  
  .carousel-control-next-icon{color: #000 !important;}
  
  .carousel-control-prev-icon{color: #000 !important;}
  
  .carouselExampleIndicators{color: #000 !important;}
  
  .carousel-indicators{
      /* background-color: aquamarine; */
      width: 230px !important;
      height: 30px !important;
      margin: 0 auto;
  }
  
  .carousel-indicators li {
      width: 15px;
      height: 15px;
      border-radius: 8px;
      border: 0;
      background-color: #000 !important;
      transition: color .3s linear 1s;
      opacity: 0.6;
    }
  
  .carousel-indicators li:hover {
      opacity: 0.2;
    }
  
  .carousel-control-next, .carousel-control-prev {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15%;
      color: #000;
      text-align: center;
      opacity: .5;
      transition: opacity .15s ease;
  }
  
  .carousel-control-next:hover, 
  .carousel-control-prev:focus, 
  .carousel-control-prev:hover {
      color: #fff;
      outline: 0;
      opacity: 0.75;
      background-color: #2bbbad;
    }
  
  .carousel {margin-bottom: 15px !important;}
  
  .profile{
    border-radius: 20px !important;
  }
  
  .profile-pics {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 20px;
  }
  
  .profile-pics > div {
    display: flex;
    position: relative;
    margin-bottom: 5px;
      width: 198px;
      height: 198px;
      transition: 0.2s;
      opacity: 0.6;
     
  }
  
  .profile-pics > div:hover{
      background-color: none;
      box-sizing: border-box;
      box-shadow: 2px 2px 2px paleturquoise;
      opacity: 1;
  }
  
  .framea{margin: 30px;}
  
  .frameb{
      margin-top: 70px;
      margin-bottom: 40px;
  }
  /* h1 col-md-12 */
  
  .row .col-md-12{
    position: none !important;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .brand-logo-2 {
    width: 20%;
    height: 150px;
    position: absolute;
    left: 565px;
    bottom: -3450px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  .brand-logo-2 .navbar-brand-2{
    /* background-color:rgb(255, 142, 221); */
    border-radius: 20px;
    font-size: 50px !important;
    opacity: 0.2;
  }
  /* 
  .brand-logo-2 .navbar-brand:hover{
    background-color:#fff;
    border-radius: 20px;
    font-size: 50px !important;
    opacity: 0.1;
  } */
  
  #section_5 .btn{
    position: absolute;
    left: 295px;
    bottom: -3290px;
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 15px 15px;
    font-size: 25px;
  }
     
  
  /* Brand Selling Points : Why eHeartiCare 
  ------------------------*/
  #brand-selling-points{padding: 40px 0px;}
  
  #brand-selling-point .col-lg-2 {
      border-radius: 15px;
      height: 220px;
      font-weight: bold;
      text-align: center;
      margin: 15px 5px;
      transition: 0.2s;
      cursor: pointer;
  }
  
  .row .col-lg-2 .logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 175px;
    width: 175px;
    font-size: 16px;
    margin: 10px auto;
    border-radius: 90px;
    background: linear-gradient(to bottom left,#9561f7,#1468e6);
    opacity: 0.8;
    cursor: pointer;
  }
  
  .row .col-lfg-2 .logos:hover{
    background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
    opacity: 0.7;
  }
  
  /* This is patient enter Jitsi btn*/
  
  #patientEnterJitsi{
      position: relative;
      padding: 12px 35px;
      top: 488px;
      left: 800px;
      border-radius: 15px;
      font-size: large;
      z-index: 10;
  }   
  
  #patientEnterJitsi:hover,#patientEnterJitsi:active{
    background: linear-gradient(to bottom left,#63d19e,#0eb7fa) !important;
  }
  
  #myModalLabel{
    background: linear-gradient(to bottom right,#9561f7,#1468e6); 
    opacity: 0.85;
  }
  
  /* Live/Offline/Busy Therapist
  ______________________________*/
  .艾莉絲,.蕾夢娜,.馬特史密斯,.花生醬先生,
  .泰坦斯,.派佩,.娃娃{
    position: absolute;
    left: 8px;
    bottom: 5px !important;
    background-color:#000;
    color: #fff;
    /* top: 3010px; */
    /* bottom: -5px; */
    height: 30px;
    width: 90px;
    text-align: center;
    border-radius: 5px;
    /* font-weight: bold; */
    opacity: 0.85;
    transition: 0.1s;
    cursor: pointer;
  }
  
  
  .艾莉絲:hover,.蕾夢娜:hover,.馬特史密斯:hover,.花生醬先生:hover,
  .泰坦斯:hover,.派佩:hover,.娃娃:hover{
    background-color: #fff;
    color: #000;
    opacity: 0.85;
    
  }
  
  .online-therapist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
      height: 80%;
  }
  
  .therapist-checklist{
      position: sticky;
      top: 75px;
      z-index: -10;
      /* left: 0; */
  }
  
  .therapist-container{
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 1%;
      /* position: sticky; */
      float: left;
  
  }
  
  .online-therapist{
      /* background: linear-gradient(to bottom right,#9561f7,#1468e6); */
      background-color: #ece8e854;
      box-shadow: 3px 3px 3px #5e565654;
      font-weight: bold;
      border-radius: 20px;
      width: 198px;
      height: 60px;
      position: sticky;
      bottom: 20px;
      opacity: 0.8;
      margin: 2px;
      cursor: pointer;
      transition: 0.2s;
  }
  
  .online-therapist:hover {
      background-color: #5e565654;
      opacity: 1;
  }
  
  /* Popup Tool 
  ------------------*/
  /* .helper {
      position: sticky;
      float: right;
      bottom: 10px;
      z-index: 10;
  } */
  .helper {
    position: fixed;
    bottom: 12px;
    left: 1320px;
    z-index: 10;
  }
  
  
  /* Popup container - can be anything you want */
  .popup{
    cursor: pointer;
    position: relative;
    right: 100px;
    color: #fff;
    text-align: center;
    padding: 8.5px 35px;
    border-radius: 15px;
    background: linear-gradient(to bottom left,#9561f7,#1468e6);
    font-size: 18px;
  }
   
    .popup:hover{
      background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
    }
  
    #talk-to-us-now{
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }
      
    
    /* The actual popup */
    
    .popup .popuptext {
      visibility: hidden;
      width: 240px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 15px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
      }
    
    /* Popup arrow */
    .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
    
    /* Toggle this class - hide and show the popup */
    .popup .show {
      visibility: visible;
      animation: fadeIn 1s;
    }
    
    /* Add animation (fade in the popup) */  
    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
    }
  
  /* Footers Areas 
  -------------------*/
  #popUpBoxManagement{
      padding:0 !important;
      margin-top: 0 !important;
  }
  
  /* Style the close button (span) in the popup table*/
  .close-pop-up-box{
    background-color: #0000005e;
    border-radius: 50px;
    transform: translate(0%, -50%);
    position: relative;
    top: -58px;
    right: -45px;
    padding: 12px 18px;
    text-shadow: 0 2px 0 #fff;
    opacity: .5;
    cursor: pointer;
    z-index: 10;
  }
  
  .close-pop-up-box:hover {background: #2bbbad;}
  
  /* li span {
    position: sticky;
    z-index: 10;
    border-radius: 25px;
    right: 55px;
    padding: 10px 16px;
    background-color: #0000005e;
    cursor: pointer;
  } */
  
  
    /* Style the list (remove margins and bullets, etc) */
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    /* Style the list items */
    ul li {
      text-decoration: none;
      color: #000;
      display: block;
      position: relative;
    }
    
  
  /* The Modal (background) */
  .modal2 {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Video Modal Elements */
  
  #confirmEnterBtn{
    margin-left:0 !important;
  }
  
  /* Video model pop up */
  .modal-dialog .modal-content{
  position: fixed !important;
  display: flex !important;
  /* padding: 70px 20px; */
  width: fit-content;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 25px;
  top: 3040px !important;
  left: 469px !important; 
  }
  
  /* .modal-dialog .modal-content {
    position: fixed;
    left: 330px !important;
    width: fit-content;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 25px;
    z-index: 20;
  } */
  
  /* The Close Button */
  /* .closeTheWindow {
    background-color: #0000005e;
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -22px;
    right: -20px;
    background-color: gray;
    border-radius: 35px;
    width: 12%;
  }
  
  .closeTheWindow:hover {background: #2bbbad;}
   */
  
  .form-group{margin-top: 20px;}
  
  
  .form-group .btn-primary {
    margin: 0 !important;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  .form-group .btn-primary:hover{
    background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
    border: solid 1px #63d19e;
    opacity: 1;
    }
  
  /* Footer Areas
  __________*/
  
  /* .footer-img{
    height: 650px;
    margin: 0;
    width: 1485px;
    opacity: 0.7; 
    
  } */
  
  .footer-text{
    /* background-image:; */
    background-color: #999999;
    opacity: 0.9;
  }
  
  .businessSuccess{
    width: 100%;
    height: 500px;
    /* background-color: #000; */
    background-image: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    /* background-size: 10%; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.9;
  }
  
  .highlights{
    width: 150px;
    height: 200px;
    display: grid;
    align-content: center;
    font-size: 40px;
    background-color: #fff;
    box-sizing: border-box;
    /* box-shadow: 2px 2px 2px gray; */
    /* opacity: 0.85; */
    opacity: transparent;
    border-radius: 20px;
    border: solid 1px #fff;
    color: #000;
    line-height: 2px;
    margin: 5px 0;
  }
  
  .p-normal{
    margin: 0;
    color: #000;
    font-weight: bold;
    margin: 1px auto;
    text-decoration: overline;
  }
  
  .contact-us{
    border: solid 2px #000;
    font-weight: bold;
    /* box-shadow: rgba(138, 138, 138, 0.7); */
    border-radius: 10px;
    width: 10%;
    background-color: #f3f3f3;
    margin: 5px auto;
    display: flex;
    justify-content: center;
  }
  
  /* Social Media Container */
  .wpb_wrapper {
    position: relative;
    left: 658px;
    bottom: 105px;
  }
  
  .copyright{
    position: relative;
    bottom: -150px;
    left: 630px;
    font-weight: bold;
    font-size: 10px;
    z-index: 2;
  }
  
  .social-icons {
    display: flex;
    position: absolute;
    top: 120px;
  }
  
  .social-icons > div {
    width: 115px;
    height: 115px;
    display: flex;
    margin: 20px;
    position: relative;
    right: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    transition: all 0.2s;
    /* background-color: rgb(98, 0, 255); */
    
  }
  
  .social-icons > div:hover {
    background: linear-gradient(to bottom right,rgba(138, 138, 138, 0.7),rgba(255, 255, 255, 0.8));
    opacity: 0.3;
  }
  
  .fb{
    background: linear-gradient(to bottom right,rgb(60,0,230,0.7),rgb(98, 0, 255,0.8));
  }
  
  .ws{
    background: linear-gradient(to bottom right,rgb(0,240,53,0.7),rgb(21, 231, 49,0.8));
  }
  .tw{
    background: linear-gradient(to bottom right,rgb(253,0,140,0.7),rgb(250, 14, 45,0.8));
  }
  .ig{
    background: linear-gradient(to bottom right,rgb(97,193,249,0.8),rgb(80, 220, 245,0.8));
  }
  
  
  
  /*Below is CSS related to the video session*/
  #session-container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #session-row {
    width: 100%;
    height: 100vh;
    border-radius: 25px;
    background: linear-gradient(to bottom left,#cd61f7,#1468e6);
  }
  
  #session-container > #session-row > #meet {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 90%;
  }
  
  #session-container > #session-row > div {
    display: flex;
    align-items: center;
    border-radius: 25px;
  }
  
  #session-container > #session-row > #return-button {
    display: flex;
    justify-content: center;
  }
  
  .session-submit-btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: auto;
    height: auto;
  }
  