body {
  font-family: 'Heebo', sans-serif;
  padding-right: 0!important;
  background-image: url("https://images.pexels.com/photos/3987020/pexels-photo-3987020.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 35.5%;
  background-repeat: no-repeat;
  background-position-x: 1px; 
  /* filter: scale(50%); */
  background-position: 0 auto;
  margin: 0;
  line-height: 2;
  }

  @media screen and (max-width: 700px){
    body{
      background-image: url("https://images.pexels.com/photos/3987020/pexels-photo-3987020.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
      background-size: 180%;
    }
  }

  h1,h2,h6{
  text-align: center;
  font-weight: bold;
  /* margin: 30px auto; */
  margin: 38px auto;
  color: #000000;
  }


  h3{
    font-size: 20px;
    width: 32%;
    margin: 30px auto;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    opacity: 0.9;
    text-decoration: transparent;
  }  

h4 {
  text-align: center;
  margin-bottom: 25px;
  color: #000;
}

h5{
  text-align: center;
  /* margin-left: 90px; */
}

h6 {
  font-size: large;
  font-weight: bold;
  color: #000000;
  margin: 38px auto;
  
}

p{margin: 30px;}

hr{
  margin: 25px;
  border-top: 4px dotted #63d19e;
}

.giantContainer{
  max-width: 1500px;
  opacity: 0.9;
}

/* Heading : navbar  
-----------*/
#navbar{
  position: initial;
  z-index: -5;
}
.logo-container {
  display: flex;
  flex-wrap: wrap;
  margin: 70px auto;
}

.navbar-nav{margin-left: 220px !important;}

.navbar{padding: 0 18px!important;}

/* heading of each Section */
.nav-pills .nav-link {
  border-radius: 5px;
  color: #fff;
  border-radius: 5px;
  padding: 0 22px;
}

.navbarpadding{
  margin-top: 7px;
  margin-bottom: 7px;
}

.btn-light{margin-left: 22px;}

/* Nav: margin left + margin max */
.ml-auto, .mx-auto {margin-left: auto!important;}

.nav-pills .nav-link.active, .nav-pills .show >.nav-link {background-color: transparent;}

.navbar-brand{font-size: 24px;}

.nav-link:hover{
  text-decoration: none;
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  text-decoration: transparent;
  box-shadow: #63d19e;
  border-radius: 25px;
}

/* disabled btn */
.nav-link.disabled {
  color: #6c757d !important;
  pointer-events: none;
  cursor: default;
}

/* Search btn */

/* Brand Logo
-------------*/
header {
display: flex;
justify-content: space-between;
align-items: flex-end;
color: #000;
margin: 78px auto;
}

.cover-heading{
  color: #000000 !important;
  width: fit-content;
  text-decoration: transparent;
  box-shadow: 5px 5px 8px #000;

}

.color-text{
  color: #000;
  text-decoration: transparent;
  width: fit-content;
  font-size: 20px;
  color: #63d19e;
  opacity: 0.9;
  border-radius: 5px;
}

.py-5{padding-bottom: 0!important;}

.wpb_content_element{margin: 30px auto;}


.online-platform{
  font-size: 22px;
  width: fit-content;
  border-radius: 5px;
  margin-left: 380px;
  text-align: center;
  background-color: #fff;
  opacity: 0.8;
  text-decoration: transparent;
  display:flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 2px #5a5663;
}

#eHeart_iCare{
width: 200px;
opacity: 1;
color: #000000;
font-size: 20px;
display: inline-block;
border-radius: 5px;
box-shadow: 5px 5px 8px #000;
}
.flex-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}
.flex-text{
display: flex;
justify-content: center;
align-items: center;
width: 500px;
height: 75px;
font-weight: bold;
border-left-width: 8px;
border-color: #2bbbad;
border-style: solid;
border-left-width: 10px;
border-right-width: inherit;
border-top-width: inherit;
border-bottom-width: inherit;
background-color: snow;
border-radius: 12px;
margin-top: 10px;
}

.vc_single_image-img{
  width: 50%;
  height: 50%;
  opacity: 0.95;
}

/* Survey Modal Form
------------------------*/
#myModal{
  position: absolute;
  z-index: 99;
  width: 100%;
  outline: 0;
  background: linear-gradient(to bottom right,#5a5663,#1468e6);
  opacity: 0.9;
} 

.modal-header .closebtn{
  background-color: #0000005e;
  border: solid 1px transparent;
  position: absolute;
  top: -2882px;
  right: -709px;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  font-size: 22px;
  z-index: 20;
  cursor: pointer;
}

.modal-header .closebtn:hover {background: #2bbbad;}

.modal-header{
  display: initial;
  padding: 0 !important;}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding-top: 15px;
    color: #000;
    text-align: left;
    }
  
.modal-backdrop {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 20;
}

.modal-open{
  padding-right: 0 !important; 
  overflow: initial !important}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: initial;
  justify-content: flex-end;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

/* Survey css Elements
------------------------*/
.text-box-size{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100px;
  width: 500px;
}

.survey-text-box {
  width: 300px;
  height: 30px;
}

/* 提交問卷 Button*/
.btn-info{background: linear-gradient(to bottom left,#9561f7,#1468e6);}

.btn-info:hover{background: linear-gradient(to bottom left,#63d19e,#0eb7fa);}

#提交問卷 > .btn-primary {margin-left: 365px !important;}


/* Video Modal 
------------------------*/
/* Video close Button*/
.modal-header #video-closebtn{
  padding: 12px 16px;
  background-color: #0000005e;
  border-radius: 60px;
  position: relative;
  top: -8px;
  right: -8px;
}

.modal-header #video-closebtn:hover {background: #2bbbad;}

.first-heading {
  display: flex;
  text-align: center;
  margin: 0;
  padding-top: 110px;
  padding-bottom: 100px;
  border-radius: 10px;
  /* opacity: 0.9; */
}

.sec-heading {text-align: center;}

@media screen and (max-width: 700px){
  .sec-heading {
      text-align: center;
      margin: 0;
  }
}

/* 常見心理病 */
.disease-example {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    margin: 35px auto;
    color: #000000;
    font-size: 20px;
    text-decoration: underline;
}

.disease-example > div {
    height: 200px;
    width: 200px;
    border: #000 1px solid;
    margin: 25px;
    font-weight: bold;
}


.驚恐症 {
    background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img012x.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: 0.2;
    border-radius: 120px;
}
.驚恐症:hover {opacity: 1;}

.社交焦慮症 {
    background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img042x.jpg");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}
.社交焦慮症:hover {opacity: 1;}

.強迫症 {
    background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img052x.jpg");
    background-size: 135%;
    background-position-y: end;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}
.強迫症:hover {opacity: 1;}

.精神分裂症 {
    background-image: url("https://img.zcool.cn/community/0141f8577287e90000012e7efff300.jpg@1280w_1l_2o_100sh.jpg");
    background-size: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}
.精神分裂症:hover {opacity: 1;}

.自閉症 {
    background-image: url("https://img3.stockfresh.com/files/n/nito/m/12/9751957_stock-photo-puzzle-pieces-symbol-of-the-autism-awareness.jpg");
    background-size: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}
.自閉症:hover {opacity: 1;}

.鬱躁症 {
    background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img062x.jpg");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}
.鬱躁症:hover {opacity: 1;}

.抑鬱症 {
    background-image: url("https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img072x.jpg");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}
.抑鬱症:hover {opacity: 1;}

.創傷後情緒病 {
    background-image: url('https://www.hmdc.cuhk.edu.hk/wp-content/themes/odf-theme/resources/images/test-img032x.jpg');
    background-size: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    opacity: 0.8;
    transition: 0.2;
}

.創傷後情緒病:hover {opacity: 1;}

/* Popupbox && service options (Four Box-elements)
__________________________________________________*/
/* ul{
  list-style: none;
  padding-left: 0;
} */
  
.popupbox{
  position: fixed;
  z-index: 2;
  bottom: 40px;
  left: 1025px;
  font-size: 14px;
  border: 2px solid gray;
  box-shadow: 1px 1px 2px grey;
  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  }

.box-elements{
    background: linear-gradient(to bottom right,#9561f7,#1468e6);
    font-size: 14px;
    border-radius: 20px;
    color: #fff;
    border: solid 1px #1468e6;
    text-align: center;
    margin: 10px 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.box-elements:hover{
background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
border: solid 1px #63d19e;
opacity: 1;
}

/* .cancel-button{
    background: blue;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
} */

/*Option id: clientSuccess*/
.popover{
  max-width: 400px; 
}


.container a{
color: #fff !important;
transition: 0.2s;
}
.container a:hover{
  text-decoration: none !important;
}

.svg-inline--fa.fa-w-11 {width: 10px;}


main {
    padding-top: 48px;
    padding-bottom: 48px;
    }
  
  /* Customize The Carousel
  --------------------------*/
  .carousel {
    margin-bottom: 4rem;
    z-index:0 !important;}
    /* Since positioning the image, we need to help out the caption */
  
    .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .w-100 {
    width: 40%!important;
    border-radius: 75px !important;
  }

  .carousel-item .img {border-radius: 100px !important;}

  .carousel-item {height: 32rem;}

  /* Declare heights because of positioning of img element */
  .carousel-item > img {
    position: absolute;
    min-width: 55%;
    height: 32rem;
    border-radius: 50px;
  }


  /* Profile introduction */
  #overlay {
    position: absolute;
    top: 95px;
    left: 520px;
    width: 50%;
  }
  
 #overlay > div {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    text-align: center;
    padding: 20px 30px;
    border-radius: 30px;
}
  
  #overlay > div h4 {
    text-align: center;
    color: #fff !important;
    border-top: solid 3px #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #999999;
  }

  /* Carousel
  --------------*/

.carousel-inner {
    position: relative;
    width: auto;
    overflow: hidden;
    border-radius: 100px;
    margin-left: 90px;
}

/* .carousel-item{ height: 400 !important;} */

.carousel-control-next-icon{color: #000 !important;}

.carousel-control-prev-icon{color: #000 !important;}

.carouselExampleIndicators{color: #000 !important;}

.carousel-indicators{
    /* background-color: aquamarine; */
    width: 230px !important;
    height: 30px !important;
    margin: -45px auto;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    border: 0;
    background-color: snow !important;
    transition: color .3s linear 1s;
    opacity: 0.6;
  }

.carousel-indicators li:hover {
  background-color: #000 !important;
  opacity: 1;}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #000;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-next:hover, 
.carousel-control-prev:focus, 
.carousel-control-prev:hover {
    color: #fff;
    outline: 0;
    opacity: 0.75;
    background-color: #2bbbad;
  }

.carousel {margin-bottom: 15px !important;}

.profile{
  border-radius: 20px !important;
}

.profile-pics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 20px;
}

.profile-pics > div {
  display: flex;
  position: relative;
  margin-bottom: 5px;
  width: 198px;
  height: 198px;
  transition: 0.2s;
  /* opacity: 0.6; */
   
}

.profile-pics > div:hover{
    background-color: none;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px paleturquoise;
    opacity: 1;
}

.framea{margin: 30px;}

.frameb{
    margin-top: 70px;
    margin-bottom: 55px;
}
/* .frameb{
  margin-top: 30px;
  margin-bottom: 9px;
} */

#ourTeam{margin-bottom: 50px;}

/* h1 col-md-12 */
.row .col-md-12{
  position: none !important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#section_5 .btn{
  position: absolute;
  left: 295px;
  bottom: -3290px;
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 15px 15px;
  font-size: 25px;
}

/* Brand Selling Points : Why eHeartiCare 
------------------------*/
#brand-selling-points{
  padding: 8px 0px;
  opacity: 0.9;
}

#brand-selling-point .col-lg-2 {
    border-radius: 15px;
    height: 220px;
    font-weight: bold;
    text-align: center;
    margin: 15px 5px;
    transition: 0.2s;
    cursor: pointer;
}

.row .col-lg-2 .logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 175px;
  width: 175px;
  font-size: 16px;
  margin: 10px auto;
  border-radius: 90px;
  background: linear-gradient(to bottom left,#9561f7,#1468e6);
  color: snow;
  opacity: 0.8;
  cursor: pointer;
}

.row .col-lfg-2 .logos:hover{
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  opacity: 0.7;
}

/* This is patient enter Jitsi btn*/

#patientEnterJitsi{
    position: relative;
    padding: 12px 38px;
    top: 536px;
    left: 725px;
    border-radius: 15px;
    font-size: 18px;
    z-index: 10;
}   

#patientEnterJitsi:hover,#patientEnterJitsi:active{
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa) !important;
}

#myModalLabel{
  opacity: 0.85;
}

/* Live/Offline/Busy Therapist
______________________________*/
.艾莉絲,.蕾夢娜,.馬特史密斯,.花生醬先生,
.泰坦斯,.派佩,.娃娃{
  position: absolute;
  left: 8px;
  bottom: 5px !important;
  background-color:#000;
  color: #fff;
  height: 30px;
  width: 90px;
  text-align: center;
  border-radius: 5px;
  opacity: 0.85;
  transition: 0.1s;
  cursor: pointer;
}


.艾莉絲:hover,.蕾夢娜:hover,.馬特史密斯:hover,.花生醬先生:hover,
.泰坦斯:hover,.派佩:hover,.娃娃:hover{
  background-color: #fff;
  color: #000;
  opacity: 0.85;
  
}

.online-therapist {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	width: 80%;
    height: 80%;
}



.therapist-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 1%;
    float: left;

}

.online-therapist{
    background-color: azure;
    /* box-shadow: 3px 3px 3px #5e565654; */
    font-weight: bold;
    border-radius: 20px;
    width: 198px;
    height: 60px;
    position: sticky;
    bottom: 20px;
    opacity: 0.8;
    margin: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.online-therapist:hover {
  background-color: #000;
  opacity: 1;
  color: #fff !important;
}

/* Popup Tool 
------------------*/
/* .helper {
    position: sticky;
    float: right;
    bottom: 10px;
    z-index: 10;
} */
.helper {
  position: fixed;
  bottom: 12px;
  left: 1320px;
  z-index: 10;
}

/* Popup container - 現在諮詢 */
.popup{
  cursor: pointer;
  font-size: 18px;
  right: 100px;
  color: #fff;
  text-align: center;
  padding: 8.5px 35px;
  border-radius: 15px;
  background: linear-gradient(to bottom left,#9561f7,#1468e6);
  margin: 18px auto;
  transition: 0.2s;

}
 
  .popup:hover{
    background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
    border: solid 1px #1468e6;
  }

  #talk-to-us-now{
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
    
  
  /* The actual popup */
  
  .popup .popuptext {
    visibility: hidden;
    width: 240px;
    background-color: #555;
    color: #fff;
    text-align: center;
    margin-left: -80px;
    border-radius: 6px;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* Footers Areas 
-------------------*/
#popUpBoxManagement{
    padding:0 !important;
    margin-top: 0 !important;
}

/* Style the close button (span) in the popup table*/
.close-pop-up-box{
  background-color: #0000005e;
  border-radius: 50px;
  transform: translate(0%, -50%);
  position: relative;
  top: -58px;
  right: -45px;
  padding: 12px 18px;
  text-shadow: 0 2px 0 #fff;
  opacity: .5;
  cursor: pointer;
  z-index: 10;
}

.close-pop-up-box:hover {background: #2bbbad;}

/* li span {
  position: sticky;
  z-index: 10;
  border-radius: 25px;
  right: 55px;
  padding: 10px 16px;
  background-color: #0000005e;
  cursor: pointer;
} */


  /* Style the list (remove margins and bullets, etc) */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }


/* Video Modal Elements */

#confirmEnterBtn{
  margin-left:0 !important;
}

/* Video model pop up window */
/* #Jitsi .modal-content {
  position: fixed !important;
  display: flex !important;
  width: fit-content;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 25px;
  top: 2890px !important;
  left: 435px !important;
} */

#Jitsi .modal-content {
    position: relative;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 25px;
}

 /* Modal form group */
.form-group{margin-top: 20px;}

.form-group .btn-primary {
  margin: 0 !important;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.form-group .btn-primary:hover{
  background: linear-gradient(to bottom left,#63d19e,#0eb7fa);
  border: solid 1px #63d19e;
  opacity: 1;
  }

/* Footer Areas
__________*/
.footer{
  margin: 35px auto;
}

.footer-text{
  background-color: #999999;
  opacity: 0.9;
}

.weHear{
  margin: 40px auto;
}

.businessSuccess{
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.9;
  padding: 0px;
}

.businessSuccess > div {
  width:100%;
  height: 100%;
}

.businessSuccess > div > img {
  width: 100%;
  height: 100%;
}

.highlights{
  width: 200px;
  height: 200px;
  display: grid;
  align-content: center;
  font-size: 40px;
  background-color: #fff;
  box-sizing: border-box;
  opacity: transparent;
  border-radius: 20px;
  border: solid 1px #fff;
  color: #000;
  line-height: 2px;
  margin: 5px 0;
  position: absolute;
  top: 125px;
}

.p-normal{
  margin: 0;
  color: #000;
  font-weight: bold;
  margin: 1px auto;
  text-decoration: overline;
  position: absolute;
  bottom: 125px;
}

.contact-us{
  border: solid 2px #000;
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
  background-color: #f3f3f3;
  margin: 5px auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px){
  .contact-us{
      border: solid 2px #000;
      font-weight: bold;
      border-radius: 10px;
      width: 20%;
      margin-left: 210px!important;
      display: flex;
      justify-content: center;
  }
}

/* Social Media Container */
.wpb_wrapper {
  left: 658px;
  bottom: 105px;
}

.copyright {
  position: relative;
  left: 630px;
  font-size: 100px;
  font-weight: bold;
  font-size: 10px;
  z-index: 2;
  color: #000;
}

@media screen and (max-width: 700px){
  .copyright{
    position: sticky;
    font-weight: bold;
    margin-left: 0px!important;
    text-align: center;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  top: 95px;
}

.social-icons > div {
  background-color: rgb(98, 0, 255);
  width: 115px;
  height: 115px;
  display: flex;
  margin: 20px;
  right: 250px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  transition: all 0.2s;
}

.social-icons > div:hover {
  background: linear-gradient(to bottom right,rgba(138, 138, 138, 0.7),rgba(255, 255, 255, 0.8));
  opacity: 0.3;
}

.fb{
  background: linear-gradient(to bottom right,rgb(60,0,230,0.7),rgb(98, 0, 255,0.8));
}

.ws{
  background: linear-gradient(to bottom right,rgb(0,240,53,0.7),rgb(21, 231, 49,0.8));
}
.tw{
  background: linear-gradient(to bottom right,rgb(253,0,140,0.7),rgb(250, 14, 45,0.8));
}
.ig{
  background: linear-gradient(to bottom right,rgb(97,193,249,0.8),rgb(80, 220, 245,0.8));
}



.name-test{
  color:white !important;
  
}

.name-test{
  color:white !important;
  margin-left: 8px;
  margin-right: 0px;
  padding-left:3px;
  padding-right:3px;
  background-color: rgba(221, 140, 35, 0.829);
  border-radius: 20px;
}

.you{
  display:flex;
  background: linear-gradient(to bottom left,#f1e5a2b7,#82f7e7a9);
  padding-top:7px;
  padding-bottom: 7px;
  border-radius: 10px;
  margin-left: 5px;
}

/*Below is CSS related to the video session*/
#session-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#session-row {
  width: 100%;
  height: 100vh;
  border-radius: 25px;
  background: linear-gradient(to bottom left,#cd61f7,#1468e6);
  margin-top: 10px;
}

#session-container > #session-row > #meet {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: 90%;
}

#session-container > #session-row > div {
  display: flex;
  align-items: center;
  border-radius: 25px;
}

#session-container > #session-row > #return-button {
  display: flex;
  justify-content: center;
}

.session-submit-btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  width: auto;
  height: auto;
  margin-top: 10px
}

/* modal-dialog-2 : pop up to attend meeting room */
.modal-dialog-2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal-footer-2 .btn-primary {margin-left: 0 !important;}

.modal-footer-2 {margin-left: 15px !important;}

.modal-header-2 .close > span{
  background-color: #0000005e;
  border-radius: 50px;
  position: absolute;
  bottom: -15px;  
  z-index: 10;
  cursor: pointer;
  padding: 10px 16px;
}
.modal-header-2 .close > span:hover {background: #2bbbad;}
/* 
.modal-dialog-2{
  background-color: #000;
  
}
.modal-header-2 .modal-title-2{
  background: blue;
  margin: 10px auto;
} */

.modal-dialog-2 .modal-content-2 {
  position: relative;
  display: flex;
  width: 80%;
  border-radius: 25px;
  /* height: 220px; */
  /* bottom: -305px; */
  flex-direction: column;
  pointer-events: auto;
  background: linear-gradient(to bottom left,#cd61f7,#1468e6);
  background-clip: padding-box;
  /* border: 2px solid rgba(0,0,0,.2); */
  /* border-radius: 15px; */
  padding: 5px 25px;
  z-index: 99;
  /* background-color: red; */
  /* border: solid 5px; */

}

.modal-dialog-2 .modal-body-2 {
  padding: 0 16px !important;
  margin-bottom: 20px;
  text-align: center;
}

.modal-2-buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.modal-2-buttons > .btn-primary-2 {
  margin-left: 0px;
}

